    <input id="input-search" type="text" name="search" value="{{search}}" />
    <button id="button-search" type="submit">Rechercher</button>



<table>
    <thead>
        <tr>
            <td>Code</td>
            <td>Nom</td>
            <td>Prix</td>
        </tr>
    </thead>

    <tbody id="table-body">
        {{#each products}}
        <tr>
            <td>{{this.productCode}}</td>
             <td>{{this.productName}}</td>
              <td>{{this.buyPrice}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script id="template-products" type="text/handlebars">
     \{{#each products}}
        <tr>
            <td>\{{this.productCode}}</td>
             <td>\{{this.productName}}</td>
              <td>\{{this.buyPrice}}</td>
        </tr>
        \{{/each}}
</script>